<ion-view view-title="Date Picker">
  <ion-content class="padding">

    <h3 class="text-center">Date Picker Examples</h3>
    <h4>Example 1</h4>
    <button class="button button-block button-positive"
            ionic-date-picker="" idate="currentDate" >{{currentDate | date:'dd - MMMM - yyyy'}}</button>

    <h4>Example 2</h4>
    <button class="button button-block button-positive"
            ionic-date-picker="" idate="pastDate" >{{pastDate | date:'dd - MMMM - yyyy'}}</button>

  </ion-content>
</ion-view>
