<ion-view view-title="Date Picker">
  <ion-content class="padding">

    <h3 class="text-center">Date Picker Examples</h3>

    <h4>Date picker in a Modal</h4>
    <ionic-datepicker input-obj="datepickerObjectModal">
      <button class="button button-block button-positive"> {{datepickerObjectModal.inputDate | date:'dd - MMMM - yyyy'}}</button>
    </ionic-datepicker>

    <h4>Date picker in a Popup</h4>
    <ionic-datepicker input-obj="datepickerObjectPopup">
      <button class="button button-block button-positive"> {{datepickerObjectPopup.inputDate | date:'dd - MMMM - yyyy'}}</button>
    </ionic-datepicker>


  </ion-content>
</ion-view>
