<ion-view view-title="Date Picker">
  <ion-content class="padding">

    <h3 class="text-center">Date Picker Examples</h3>
    <h4>Example 1</h4>
    <ionic-datepicker idate="currentDate" disablepreviousdates="true">
      <button class="button button-block button-positive"> {{currentDate | date:'dd - MMMM - yyyy'}} </button>
    </ionic-datepicker>

    <h4>Example 2</h4>
      <ionic-datepicker idate="pastDate" >
        <button class="button button-block button-positive"> {{pastDate | date:'dd - MMMM - yyyy'}} </button>
      </ionic-datepicker>

  </ion-content>
</ion-view>
